*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}



:is(.container__table,ul,.form__mantenimiento,.confirmar__seleccion)::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

:is(.container__table,ul,.form__mantenimiento,.confirmar__seleccion)::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

:is(.container__table,ul,.form__mantenimiento,.confirmar__seleccion)::-webkit-scrollbar-thumb {
  background-color: rgba(187, 187, 202, 0.649);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

:root {
  /* VARIABLES */
  /* COLORES */
  --fondo-container: #fff;
  --fondo-barra-superior: #312F2F;
  --fondo-barra-lateral: #312F2F;
  --fondo-degradado: #D7C394;
  --fondo-cuerpo: #F8F2E8;
  --fondo-barra-hover: #ae8c5c;
  --fondo-borde-logo: #ae8c5c;
  --color-de-seleccion-nav: #ae8c5c;
  --color-fuente-sidebar: #ae8c5c;
  --color-fuente-sidebar-hover: #312F2F;
  --color-boton-principal: #ae8c5c;
  --color-boton-principal-hover: #bb9765;
  --color-boton-cerrar: #4d4b4b;
  /* OTROS */
  --altura-barra-superior: 6vh;
  --posicion-cuerpo:calc(100-var(var(--altura-barra-superior)));
  --width-sidebar:0;
  --radio-borde: 0.3rem;
  --fondo-container-notificaciones:rgba(174, 140, 92,0.1);
  /* --fondo-notificaciones:rgba(174, 140, 92,0.6); */
  --fondo-notificaciones:rgba(49, 47, 47,0.8);
  /* --transicion:  */
  --transicion-boton: background-color .3s;
  /*Propiedades*/
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: var(--color-fuente);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*-----------------------PROPIEDADES DE ROOT y grid items*/



body{
  height: 100vh;
  width: 100vw;
  
}



#root{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--altura-barra-superior) calc(100vh - var(--altura-barra-superior));
  grid-auto-flow: row;
  gap: 0;
  grid-template-areas: "header header"
   "nav main";
  background-color: var(--fondo-container);
}


/*-----------------------------LOGIN--------------------------------*/

.contenedorlogin{
  position: relative;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: var(--fondo-container);
}

.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-cuerpo);

}

.login__descripcion{
  width: 50%;
  height: 100%;
  background: radial-gradient(rgba(174, 140, 92, 0.7),rgba(174,140,92, 0.7)),  url(./assets/iconos_lopez/login.png) center / contain;
  background-repeat: no-repeat;
  padding: 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}


.login__formulario{
  height: 100%;
  width: 50%;
  padding: 0 3% 0 3%;
  border-radius: 0 10px 10px 0;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login__formulario .icono__formulario{
  max-width: 150px;
  position: absolute;
  top:10%;
}

.login__formulario .icono__formulario img{
  object-fit: fill;
  width: 100%;
}

.login__formulario h2{
  align-self: start;
  font-family: Inter;
  color: var(--color-fuente-sidebar-hover);
}


.login__formulario .formulario__input{
  width: 100%;
}

.login__formulario form{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  padding: 20px 0 0 0;
  gap: 20px;
}

.login__formulario .formulario__input form fieldset{
  width: 100%;
  border: 1px solid #0007;
  border-radius: 3px;
  padding: 0 10px 5px 10px;
}

.login__formulario form fieldset legend{
  float: none;
  width: auto;
  font-size: 1.1rem;
  padding: 0 3px 0 3px;
  color: var(--color-fuente-sidebar-hover);
}

.login__formulario form fieldset input{
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  outline: none;
}


.login__formulario button{
  width: 100%;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  color: #000;
  background-color: var(--fondo-borde-logo);
}

.login__formulario a{
  text-decoration: none;
  align-self: end;
  color:var(--color-de-seleccion-nav);
  font-size: 0.9rem;
}

.contenedor__camion{
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}

.camion__imagen{
  position: relative;
  height: auto;
  overflow: hidden;
  color:var(--fondo-barra-lateral);
}

.camion{
  position: absolute;
  top: 0;
  left: 25%;
}

.contenedor__arboles{
  width: 100%;
  height: 25px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  animation: moverArbol 5s linear infinite;
}

.arboles{
  height: 28px;
  font-size: 1.3rem;
}


@keyframes moverArbol {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
   }
}


.contenedor__pasto{
  height: 16px;
  width: 200%;
  position: absolute;
  top: 9px;
  z-index: 0;
  overflow: hidden;
  animation: moverPasto 0.5s linear infinite;
}

@keyframes moverPasto {

  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10%);
  }
  
}

.pasto{
  font-size: 18px;
}

.camion__piso{
  width: 100%;
  height: 50%;
  position: relative;
  margin-top: 0;
  background-color: rgba(174, 140, 92, 0.7);
  color:transparent;
  z-index: 1;
}
















/*-----------------------------HEADER--------------------------------*/


/*-----------------------------BARRA SUPERIOR*/


header{
  max-width: 100vw;
  grid-area: header;
  border: none;
  background: var(--fondo-barra-superior);
}


.header__barra_superior{
  flex-basis: 100%; /*es el min-width de los flexitems.*/
  height: var(--altura-barra-superior);
  display: flex;
  direction: ltr;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
  z-index: 10;
}

.header__barra_superior h1{
  align-self: end;
  margin: 1vh auto;
  font-size: clamp(0px,1vh + 5px, 1rem);
}


/*----------------------------icono_lopez_superior*/

.barra_superior__icono_superior{
  position: absolute;
  display: inline-block;
  left: 45px;
  top: 3px;
}

.barra_superior__icono_superior img{
  max-width: 100px;
  height: var(--altura-barra-superior);
  object-fit: contain;
}


/*------------------------iconos funcionales de barra superior*/


.nav__barra_superior{
  position: relative;
  height: 100%;
  width: 20%;
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  justify-content: end;
  margin-right: 20px;
  gap: 0 2vw;
}

.iconos_barra_superior{
  height: 60%;
  border-radius: 10px;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s;
  cursor: pointer;
  z-index: 21;
}

.iconos_barra_superior .icon{
  color: var(--color-de-seleccion-nav);
  font-size: 1.3rem;
  transition: color .3s;
}

.iconos_barra_superior:hover{
  background-color: var(--color-de-seleccion-nav);
}

.iconos_barra_superior:hover .icon{
  color: var(--color-fuente-sidebar-hover);
}




/*-----------------------------NAV--------------------------------*/

/*-----------------------------BARRA LATERAL*/

.container__barra_lateral{
  grid-area: nav;
  min-width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  background: var(--fondo-barra-lateral); /*linear-gradient(to bottom, transparent, #0004),*/
}

/*Esto no se usa si no queremos el label que despliegue el menú
.container__barra_lateral .label__checkbox{
  position: absolute;
  justify-content: center;
  z-index: 20; 
  top: 8vh;
  left: 0;
  background-color: var(--fondo-borde-logo);
  min-width: 40px;
  height: 5vh;
  text-align: center;
  border-radius: 0 10px 10px 0;
  font-size: 25px;
  cursor: pointer;
}
*/


.barra_lateral__menu-bar{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top:10vh;
  position: relative;
}


.div__lateral {
  width: 200px;
  --width-sidebar:200px;
  height: 100%; 
  display: flex;
  flex-flow: row nowrap;
  transition: width .3s ease;
}

.div__lateral ul{
  order: 2;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1rem;
  letter-spacing: 1px;
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
  padding-left: 0;
}



.div__lateral li{
  display: flex;
  flex-flow: row nowrap;
  text-transform: capitalize;
  padding: 2vh 1rem;
  cursor: pointer;
  align-items: center;
  text-align: center;
  color: var(--color-fuente-sidebar);
  transition: background 150ms, color 150ms;
}

.div__lateral li:hover{
  background: radial-gradient(transparent, #0002),var(--color-de-seleccion-nav);
  color: var(--color-fuente-sidebar-hover);
  background-size: 400% 400%;  
  animation: animar-gradiente 1.5s ease infinite;
}

.div__lateral a{
  color: inherit;
  padding-left: 10px;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

.div__lateral p{
  padding-left: 10px;
  padding-top: 12px;
}

.div__lateral .icono{
  font-size: 2rem;
}

/*---------------------Selección visible*/

.seleccion_visible{
  max-width: auto;
  margin-left: 1.7rem;
  overflow-x: hidden;
  border-left: 3px solid  var(--color-de-seleccion-nav);
}


/*---------------------flecha de selección en barra lateral*/

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(90deg);
}


@keyframes menuLateral {
  0%{
    transform: translateX(-50%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

/*-------------------Color se selección de opción*/

.no_seleccion{
  width:100%;
}

:is(.no_seleccion,.seleccion):hover{
  background-color: var(--fondo-barra-hover);
}

.seleccion_visible.show {
  opacity: 1; /* Se mostrará cuando tenga la clase 'show' */

}



/*---------------------------------desplegar barra lateral*/


.checkbox_sidebar{
  display: none;
}

.label_sidebar{
  position: absolute;
  top: 5px;
  left: 200px;
  background: var(--color-de-seleccion-nav);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0 5px 5px 0;
  padding: 6px 0 0 6px;
  cursor: pointer;
  z-index: 10;
  transition: left .3s ease;
}

.icono_sidebar{
  font-size: 1.6rem;
  transform: rotateY(180deg);
  transition: transform .5s, opacity .1s;
  opacity: 1;
}

.icono_sidebar:hover{
  opacity: .7;
}

.checkbox_sidebar:checked ~ .div__lateral{
  width: 0;
  --width-sidebar:0;
}

.checkbox_sidebar:checked ~ .label_sidebar{
  left: 0;
}


.checkbox_sidebar:checked ~ .label_sidebar .icono_sidebar{
  transform: rotateY(0);
}



/*-----------------------------MAIN--------------------------------*/

/*----------------------------CONTAINER*/

/* QUE ES ESTO?????????
.oculto{
  overflow: hidden;
  display: none;
  visibility: visible;
  z-index: -1;
  opacity: 0;
  max-height: 0;
  position: absolute;
}
*/

main{
  grid-area: main;
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent,#0001),var(--fondo-container);
}


.container{
  height: 100%;
  max-width: 100% !important;
  position: relative;
  margin: 0 !important;
  display: flex;
  flex-flow: row nowrap;
  z-index: 9;
  justify-content: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container__icono-fondo{
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.container__icono-fondo img {
  max-width: 100%;
  object-fit: cover;
  opacity: 0.2;
}



/*Media query para que la imágen no sea muy grande si maximizamos la pantalla en una computadora*/
@media screen and (min-width: 1190px ){
  .container{
    background-size: auto;
  }
}


/*----------------------------Fondo de formularios.*/


/*----------------------------CUERPO PARA LOS FORMULARIOS*/
.cuerpo{
  z-index: 11;
  flex-basis: 100%;
  max-width: calc( 100% - 2rem) ;
  height: 100%; /*Esto se coloca para que el cuerpo vaya hasta abajo del todo*/
  overflow: hidden;
  background-color: transparent;
  border-radius: 20px;
  position: relative;
  padding: 50px 1rem 0 1rem;
  display:flex;
  flex-flow: row wrap;
}

.formulario_titulo{
  margin: 0;
  flex-basis: auto;
  height: 60px;
}

/*Es un flex-item de cuerpo*/
.App{
  width: 100%;
  /* esto no permite ver los botones en el formulario de consultar costos */
  height: 93%;
  position: relative;
  display: flex;
  flex-flow: column nowrap; /*Sujeto a modificaciones por si agrega columnas*/
  align-items: start;
}


/*----------------------------Tabla para formularios*/

.App h2{
  font-size: 2rem;
}

.container__table{
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}



.table {
  /*table-layout: fixed;
  max-width: 100% !important; FUNCIONA PARA ESTABLECER ANCHOS FIJOS DE UNA TABLA*/
  max-height: 100%;
  position: relative;
  border-collapse: collapse;
  background-color: transparent!important;
}


th{
  background: linear-gradient(var(--color-de-seleccion-nav),var(--color-de-seleccion-nav)), transparent!important;
  position: sticky;
  top:0;
  left: 0;
  margin: auto;
  border: none !important;
  border-top: 2px !important;
  text-align: baseline !important;
}


td{
  background: linear-gradient(#0001,#0001), transparent !important;
  border:none !important;
}

.tr-boton{
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
}

.td__botones{
  width: 170px;
}

/*botones de accion editar, eliminar, etc.*/

.btn{
  max-width: fit-content;
}

.table thead tr{
  position: sticky;
  top:0;
  border: none !important;
}


tbody tr:hover{
  background: linear-gradient(#0003,#0003), transparent;
  }

.acciones{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  gap: 5px;
}

/*----------------------------Formulario Mantenimiento*/

.form-table{
  max-height: 80%;
}

.enlace_cargar_mantenimiento{
  position: absolute;
  top:0;
  right: 15px;
}

@media screen and (max-width: 506px){ /*Para que el boton no superponga el h2*/
  .App .enlace_cargar_mantenimiento{
    position: relative;
    margin: 0px 0 10px 0;
    right: 0;
  }
}

:is(.vehiculos_lista_seleccionado, .vehiculos_lista_seleccionado_viaje){
  background: linear-gradient(#0005,#0005) !important ;
}

.botonera_formulario{
  /*position: absolute;*/
  margin: 0.5rem 0 0 0 ;
  bottom: 3vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formulario__boton{
  /*position: absolute;  */
  box-shadow: 0 0 3px var(--fondo-borde-logo);
  height: min-content;
  border-radius: 5px;
  padding: 6px;
  background:linear-gradient(#fffa,#fffa), transparent;
  transition: background 0.2s ease;
}


.formulario__boton:hover{
  background: radial-gradient(#fff6,transparent),var(--color-de-seleccion-nav);
  background-size: 400% 400%;
  animation: animar-gradiente 1.5s ease infinite;
}

.mensaje__error{
  position: absolute;
  /* border-radius: 1rem; */
  right: 0;
  /* background:linear-gradient(#fffa,#fffa), rgb(254, 53, 53); */
  text-align: center;
  /* box-shadow: 0 0 5px red; */
  transform: translate(150%,-20%);
  font-size: 1.5rem;
  color:#d10c0c;
  transition: all 0.5s ease-out 0s;
}

.mensaje__error:hover{
  color:#312F2F;
}

.siguiente{
  right: 14px;
}

.volver{
  left: 0;
}

/*------------------------------- botonera de entregas tardías e insertar en viajes */

.entregas-insertar-viajes{
  position: absolute;
  right: 0;
  display: flex;
  gap: 5px;
}


/*------------------------------- Formulario para cargar más detalles de mantenimiento*/


.form__mantenimiento{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2vh 0 2vh 0vw;
}

.form__items-mantenimiento{
  flex: 0 1 100%; /*El ultimo es el flex basis, que define el ancho de los elementos, y como es column es el largo en este caso*/
  width: 50%;
  padding: 0 2vw 0 1vw;
  position: relative;
}
.formulario_grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  padding: 2vh 0 2vh 0vw;
}

.form__items-grid{
  width: 90%;
  padding: 0 2vw 0 1vw;
  position: relative;
}


.form__legend{
  float: none;
  width: auto;
  font-size: 1rem;
  color: var(--color-de-seleccion-nav);
}

.items__input{
  margin: 0 0 1vh 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #0003;
}

.items__input:focus{
  outline: 1px solid #0003;
  outline-offset: 3px;
  border: none;
  border-radius: 5px;
}

.items__input{
  border-bottom: 1px solid #0003;
}


.form__items-mantenimiento .input__textarea{
  resize: auto;
}


.error{
  border-bottom: 3px solid #d10c0c;
}


/*Formulario de confirmar seleccion*/

.confirmar__seleccion{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  place-items: start;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  max-height: 85%;
  overflow-y: auto;
}

.confirmar__seleccion p{
  font-size: 1.6rem;
  color: var(--color-fuente-sidebar);
}


.no_seleccionado{
  position: absolute;
  border-radius: 0.2rem;
  left: 35%;
  text-align: center;
}

table tbody .no_disponible{
  opacity:0.6;
}

table tbody .no_disponible:hover{
  background: transparent;
}





@keyframes animar-gradiente {  
  0% {  
    background-position: 0% 50%;  
  }  
  50% {  
    background-position: 100% 50%;  
  }  
  100% {  
    background-position: 0% 50%;  
  }  
}  

.kilometros_actuales{
  position: absolute;
  padding:3px;
  margin-left: 10px;
}

.en_construcción{
  color: var(--fondo-borde-logo);
  font-size: 2rem;
}

.toast_class{
  font-size: 1rem;
  font-weight: bold;
}

/*-------------------------------------Entregas tardias-------------------------------------*/
.enlace_ver_entregas{
  position: absolute;
  border-radius: 7px;
  padding: 7px;
  top: 0;
  left: 80%;
  background-color: rgba(239, 189, 51, 0.763);
}

/*-------------------------------------Modal-------------------------------------*/
.modal_container{
  display: none;
}

.activo{
  display: block;
}

.modal_pantalla{
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal_caja{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--fondo-container);
  z-index: 13;
  color: var(--color-fuente);
  height: 300px;
  width: 500px;
  border-radius: 1rem;
  transform: translate(-50%,-50%);
  text-align: center;
  
}
.modal_titulo{
  text-transform: uppercase;
}
.modal_boton_cerrar{
  position: absolute;
  right: 1rem;
  top: 1rem;
  /* padding: 1rem; */
  font-size: 2rem;
  color: var(--color-boton-cerrar);
  cursor: pointer;
}

.modal_boton_cerrar:hover{
  color: #000;
}

.modal_botonera{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-1rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.modal_boton{
  padding: 1rem;
  border-radius: var(--radio-borde);
  /*margin: 0 2rem;*/
}

.modal_mensaje{
  /*font-size: 1rem;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-75%);
  width: 80%;
}


#confirmar{
  background-color: #D7C394;
  font-weight: 600;
}

#confirmar:hover{
  background-color: #ae8c5c;
  color: #F8F2E8;
}

/*MENU BARRA SUPERIOR*/
.menu_barra_superior{
  position: absolute;
  top: var(--altura-barra-superior);
  transform: translate(-50%,3%);
  /*border: 1px solid red;*/
  background-color: var(--fondo-barra-superior);
  z-index: 205;
  color: var(--color-fuente-sidebar);
  text-align: center;
  transition: background-color .3s;
  padding: 1rem;
  border-radius: 0.3rem;
  opacity: 1;
  cursor: pointer;
}

.menu_barra_superior:hover{
  background-color: var(--color-de-seleccion-nav);
}

.item_menu_barra_superior{
  margin: 0;  
  font-size: 0.7rem;
  font-weight: bold;
  transition: color .3s;
}

.menu_barra_superior:hover .item_menu_barra_superior{
  color: var(--color-fuente-sidebar-hover);
}


.menu_oculto{
  top: - 100%;
  opacity: 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.overlay_oculto{
  z-index: -10;
}

/* NOTIFICACIONES */
.container_notificaciones{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--fondo-container-notificaciones);
  /* opacity: 0.3; */
  height: 90%;
  width: 90%;
  padding: 1.5rem;
  border-radius: var(--radio-borde);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* gird */
  overflow-y: scroll;
}
.notificacion{
  background-color: var(--fondo-notificaciones); 
  height: 45%;
  padding: 1rem;
  border-radius: var(--radio-borde);
  color: #ae8c5c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: scroll;
}
.notificacion_titulo{
  font-weight: bold;
  font-size: 1.4rem;
}
.notificacion_datos{
  margin-left: 18px;
  background-color: rgba(165, 165, 165, 0.3);
  border-radius: var(--radio-borde);
  /* font-weight: bold; */
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
  font-size: 1.0rem;
  color: #F8F2E8;
}

.notificacion_container_boton{
  display: flex;
  justify-content: space-around;
}

.notificacion_boton{
  padding: 1rem;
  width: 30%;
  border-radius: var(--radio-borde);
  transition: var(--transicion-boton);
}

.notificacion_descartar{
  font-weight: bold;
  color: #312F2F;
  background-color: #F8F2E8;
}
.notificacion_descartar:hover{
  background-color: rgba(248, 242, 232,0.9);

}

.notificacion_ver{
  font-weight: bold;
  color: #F8F2E8;
  background-color: var(--color-boton-principal);
}


.notificacion_ver:hover{
  background-color: var(--color-boton-principal-hover);
}